:root {
  --m: 17.5;
  --wavefreq: calc(100ms * var(--m));
}

.wave-wrapper {
  transform: scale(0.25);
  width: 130px;
  display: flex;
  gap: 5px;
}
[class*="wave"] {
  aspect-ratio: 0.125/1;
  background-color: $main-green;
  border-radius: 10px;
  width: 3px;
  animation: waveform var(--wavefreq) ease-in-out infinite forwards;
}
.wave1 {
  --wavefreq: calc(65ms * var(--m));
}

.wave2 {
  --wavefreq: calc(55ms * var(--m));
}

.wave3 {
  --wavefreq: calc(60ms * var(--m));
}

@keyframes waveform {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}
