.releases {
  position: relative;

  .slick-slider {
    &.hidden {
      z-index: -1;
    }
  }

  .slick-arrow {
    top: -47px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid $dark-grey;
    z-index: 1000;
    border-radius: 50%;

    @media (max-width: 1024px) {
      top: -40px;
    }
  }

  .slick-prev {
    left: 160px;
    z-index: 10;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      background-image: url(../assets/icons/left-lg.png);
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -50%);
    }

    &:hover {
      &::before {
        background-image: url(../assets/icons/left-gr.png);
      }
    }

    @media (max-width: 1024px) {
      left: auto;
      right: 55px;
    }
  }

  .slick-next {
    left: 210px;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      background-image: url(../assets/icons/right-lg.png);
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%);
    }

    &:hover {
      &::before {
        background-image: url(../assets/icons/right-gr.png);
      }
    }

    @media (max-width: 1024px) {
      left: auto;
      right: 0;
    }
  }

  .show-more__button {
    @media (max-width: 1024px) {
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
