.sidebar {
    position: fixed;
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    background: #1e1e1e;
    
    &__profile {
        margin: 50px auto 0;
        width: 70px;
    }

    &__navigation-wrapper {
        margin: 100px 0 0 0;
    }
}