.dropdown {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
  height: 100%;
  width: 230px;
  background: #1d1d1d30;
  backdrop-filter: blur(15px);
  z-index: 1000;

  &__button {
    position: absolute;
    left: 20px;
    top: 80px;
    cursor: pointer;

    &:last-child {
      top: auto;
      bottom: 15px;
    }
  }

  &__menu {
    position: absolute;
    left: 20px;
    top: 228px;
  }

  &__submenu {
    position: absolute;
    left: 20px;
    top: 400px;
  }
}
