@import './reset.scss';

// FONTS
@import './fonts.scss';

// VARIABLES
@import './variables.scss';

// INITIAL

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  margin: 0 0 0 100px;
  padding: 15px;
  background: #1a1a1a;
  height: 100%;
}

// FILES
@import './components/Login.scss';
@import './components/Icon.scss';
@import './components/ProfileIcon.scss';
@import './components/menu/Sidebar.scss';
@import './components/menu/SidebarItem.scss';
@import './components/menu/Dropdown.scss';
@import './components/menu/DropdownSubmenuItem.scss';