@import "./reset.scss";

// FONTS
@import "./fonts.scss";

// VARIABLES
@import "./variables.scss";

// INITIAL

body {
  background: #1a1a1a;
}

.container {
  margin: 0 auto;
  width: 90%;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  margin: 0 0 0 100px;
  padding: 25px;
  position: relative;

  &.hidden {
    position: relative;
    z-index: -1;
  }

  &__header {
    margin: 0 0 30px 0;
  }

  &__header-text {
    font-family: "Orkney", sans-serf;
    font-size: 14px;
    font-weight: 400;
    color: $light-grey;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: default;
  }

  &__top {
    height: 30px;
    margin: 10px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      width: 30px;
    }

    .profile__photo {
      height: 100%;
    }

    .profile__no-photo {
      height: 30px;
      width: 30px;
      border: 1px solid $dark-grey;
    }

    .profile__no-photo-image {
      width: 14px;
      height: 14px;
    }
  }

  &__top-logout {
    position: relative;
    margin: 0 0 0 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    margin: 0;
    padding: 25px 15px 80px;
  }
}

.no-follow {
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__image {
    width: 50px;
    margin: 0 0 20px 0;

    img {
      width: 100%;
    }
  }

  &__text {
    font-family: "Orkney", sans-serf;
    font-size: 20px;
    font-weight: 300;
    color: $light-grey;
    line-height: 18px;
    cursor: default;
    margin: 0 0 20px 0;
    white-space: nowrap;
  }

  &__link {
    text-transform: uppercase;
    color: $main-green;
  }
}

// FILES

// pages
@import "./components/Login.scss";
@import "./components/Explore.scss";
@import "./components/NewReleases.scss";
@import "./components/Playlists.scss";
@import "./components/Playlist.scss";
@import "./components/Albums.scss";
@import "./components/Album.scss";

// menu
@import "./components/menu/Sidebar.scss";
@import "./components/menu/SidebarItem.scss";
@import "./components/menu/Dropdown.scss";
@import "./components/menu/DropdownSubmenuItem.scss";

// blocks on explore page
@import "./components/Releases.scss";

//cards
@import "./components/BasicCard.scss";
@import "./components/ArtistCard.scss";
@import "./components/ArtistAlbumCard.scss";
@import "./components/PlaylistCard.scss";
@import "./components/RecommendedCard.scss";

// others
@import "./components/Icon.scss";
@import "./components/ProfileIcon.scss";
@import "./components/ShowMore.scss";
@import "./components/AudioWave.scss";
